body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app{
  background-image: url(images/david-marcu-78A265wPiO4-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  height: 50%;
  width: 50%;
}
.btn{
  margin-top: 150px;
}
.heading{
  color: gold;
  font-size: 40px;
  font-family: 'Montez', cursive;
}
.button{
  border-radius: 25px;
  background-color: khaki;
}
